MYSQL_ROOT_PASSWORD=123123123
MYSQL_DATABASE=xueyifang
XUEYIFANG_MYSQL_URL=jdbc:mysql://127.0.0.1:3306/xueyifang?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
XUEYIFANG_MYSQL_USERNAME=root
XUEYIFANG_MYSQL_PASSWORD=123123123
XUEYIFANG_REDIS_HOST=127.0.0.1
XUEYIFANG_REDIS_PORT=6379
XUEYIFANG_REDIS_PASSWORD=
XUEYIFANG_REDIS_DATABASE=0
NACOS_SERVER_ADDR=127.0.0.1:8848
NACOS_USERNAME=nacos
NACOS_PASSWORD=nacos
NACOS_GROUP=DEFAULT_GROUP
XUEYIFANG_JWT_SECRET=xueyifang-secret-key-2025-graduation-project
XUEYIFANG_JWT_EXPIRATION=604800000ms
XUEYIFANG_JWT_ISSUER=xueyifang
