MYSQL_ROOT_PASSWORD=123123123
MYSQL_DATABASE=xueyifang
NACOS_SERVER_ADDR=127.0.0.1:8848
NACOS_USERNAME=nacos
NACOS_PASSWORD=nacos
NACOS_GROUP=DEFAULT_GROUP
XUEYIFANG_JWT_SECRET=xueyifang-secret-key-2025-graduation-project
XUEYIFANG_JWT_EXPIRATION=604800000ms
XUEYIFANG_JWT_ISSUER=xueyifang
